@import "../../theme/default";
.logo {
  width: 200px;
  height: 92px;
  background: #333;
  border-radius: 0;
  float: left;
  background-image: url(../../assets/logo.png);
}

:global .header{
  background-color: @blue-7;
  height: 92px;
  line-height: 1;
  padding: 0px;
  border-bottom: 2px solid @blue-9;
  .ant-dropdown-trigger{}
  .ant-menu{
    width:70%;
    @media screen and (max-width:1300px) {
      width: 60%;
    }
    padding-left: 0;
    float: left;
    height: 92px;
    text-align: center;
    border-bottom: 2px solid @blue-9;
    background-color: @blue-7;
    .ant-menu-item-selected{
      background-color: @blue-8;
      a{
        border-bottom: 6px solid @blue-9;
      }
    }
    .ant-menu-item{
      padding:0;
      width:10%;
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .ant-badge{
    .ant-badge-count{
      transform: translateX(-90%);
    }
  }
}




.user{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 92px;
  >div{
    display: flex;
    align-items: center;
  }
}
.useravatar{
  margin-right:12px;
  background-color: @blue-5;
}
.username{
  color: #fff;
}
.headerbutton{
  font-size: 24px;
  width:40px;
  height: 40px;
  background-color: @blue-7;
  border-color: @blue-7;
  padding:0;
  margin:0 10px;
  &:hover{
    background-color: @blue-8;
    border-color: @blue-8;
  }
}
.msg, .quit{
  display: flex;
  width: 40px;
  height: 40px;
}
