.logo {
  width: 200px;
  height: 92px;
  background: #333;
  border-radius: 0;
  float: left;
  background-image: url(../../assets/logo.png);
}
:global(.ant-menu-item){
  padding:0 50px;
}
:global(.header .ant-menu-dark .ant-menu-item) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  i {

  }
  span {
  }
}
:global(.ant-layout-has-sider .ant-menu-dark .ant-menu-item){

}
//:global(.ant-menu-dark .ant-menu-item) {
//  color: #333;
//}

.ant-menu-item-selected{

}
